#userpage #navbar {
    grid-column-start: 1;
    grid-column-end: 2;
}
#userpage #navbar #profile{
    color: orange;
}
#userpage #navbar #dashboard{
    color: white;
}


#userpage #userprofile{
    display: grid;
    margin: 0% 30% 0% 30%;
    padding: auto auto auto auto;
    background-color: #d9d9d9;
    border: 10px solid black;
    margin: 10% 10% 10% 10%;
}

#userpage{
    background-color: #262626;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
  height: fill;
  width: fill;
  }