#gameType {
    align-items: center;
    display: flex;
    padding: 0px 50px 0px 50px;
  }

  button {
    background-color: rgb(12, 89, 204);
    border: none;
    color: white;
    cursor: pointer;
    font-size: 18px;
    padding: 10px;
    text-align: center;
    transition: background-color 400ms;
  }