#userprofile {
  background-color: #262626;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto;
  height: fill;
  width: fill;
}
#userprofile #navbar {
    grid-column-start: 1;
    grid-column-end: 3;
}
#userprofile #navbar #profile{
    color: orange;
}
#userprofile #navbar #dashboard{
    color: white;
}
#userprofile h1 {
  grid-column: 1;
  grid-row:2;
  font-family: monospace;
  font-size: 100px;
  margin: 20% 0% 0% 0%;
  text-align: center;
}
#userprofile #uname {
  grid-column: 1;
  grid-row:3;
  font-family: monospace;
  font-size: 20px;
  margin: 0% 0% 0% 0%;
  text-align: left;
}
#userprofile #email {
  grid-column: 1;
  grid-row:4;
  font-family: monospace;
  font-size: 20px;
  margin: 0% 0% 0% 0%;
  text-align: left;
}
#userprofile #fname {
  grid-column: 1;
  grid-row:5;
  font-family: monospace;
  font-size: 20px;
  margin: 0% 0% 0% 0%;
  text-align: left;
}
#userprofile #lname {
  grid-column: 1;
  grid-row:6;
  font-family: monospace;
  font-size: 20px;
  margin: 0% 0% 0% 0%;
  text-align: left;
}
#userprofile #edit {
  grid-column: 1;
  grid-row:7;
  font-family: monospace;
  font-size: 20px;
  margin: 0% 0% 0% 0%;
  text-align: center;
}
@font-face {
  font-family: yoster;
  src: url(../../containers/fonts/yoster.ttf);
}
@font-face {
  font-family: arcade;
  src: url(../../containers/fonts/ARCADE.TTF);
}
@font-face {
  font-family: karma;
  src: url(../../containers/fonts/karma\ future.ttf);
}
