#title {
    display: flex;
    justify-content: center;
}

#leaderboard {
    display: flex;
    flex-direction: column;
    padding:10px 10% 10px 10%;
}

#columns {
    display: flex;
    justify-content: space-between;
}

.player {
    display: flex;
    justify-content: space-between;
}


